In [1]:
import pandas as pd
import usaddress
from collections import Counter
import numpy as np
#Need to know how to handle errors.

In [2]:
file = 'addresses.csv'

In [3]:
df = pd.read_csv(file)

In [4]:
df.head()

   initial_index                            raw_address
0              1   25737 US Rt 11, Evans Mills NY 13637
1              2    901 Route 110, Farmingdale NY 11735
2              3        2400 Route 9, Fishkill NY 12524
3              4  10401 Bennett Road, Fredonia NY 14063
4              5    1818 State Route 3, Fulton NY 13069

In [5]:
df['parsed_address'] = ''
df['parsed_street_name'] = ''
df['index_parsed_address'] = ''
df['StreetNamePreType'] = ''
df['address_number'] = ''

In [6]:
index_ = []
for index, row in df.iterrows():
    try:
        df.set_value(index, 'parsed_address',  usaddress.tag(row['raw_address'])[0])
    except:
        index_.append(index)

/Users/gta/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  after removing the cwd from sys.path.

In [7]:
index_

[]

In [8]:
df.head()

,initial_index,raw_address,parsed_address,parsed_street_name,index_parsed_address,StreetNamePreType,address_number
0,1,"25737 US Rt 11, Evans Mills NY 13637","{'AddressNumber': '25737', 'StreetNamePreType'...",,,,
1,2,"901 Route 110, Farmingdale NY 11735","{'AddressNumber': '901', 'StreetNamePreType': ...",,,,
2,3,"2400 Route 9, Fishkill NY 12524","{'AddressNumber': '2400', 'StreetNamePreType':...",,,,
3,4,"10401 Bennett Road, Fredonia NY 14063","{'AddressNumber': '10401', 'StreetName': 'Benn...",,,,
4,5,"1818 State Route 3, Fulton NY 13069","{'AddressNumber': '1818', 'StreetNamePreType':...",,,,

In [9]:
index_ = []
for index, row in df.iterrows():
    try:
        df.set_value(index, 'parsed_street_name', row['parsed_address']['StreetName'])
        df.set_value(index, 'address_number', row['parsed_address']['AddressNumber'])
    except:
        index_.append(index)

/Users/gta/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  after removing the cwd from sys.path.
/Users/gta/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """

In [10]:
index_

[]

In [11]:
df.head()

,initial_index,raw_address,parsed_address,parsed_street_name,index_parsed_address,StreetNamePreType,address_number
0,1,"25737 US Rt 11, Evans Mills NY 13637","{'AddressNumber': '25737', 'StreetNamePreType'...",11,,,25737
1,2,"901 Route 110, Farmingdale NY 11735","{'AddressNumber': '901', 'StreetNamePreType': ...",110,,,901
2,3,"2400 Route 9, Fishkill NY 12524","{'AddressNumber': '2400', 'StreetNamePreType':...",9,,,2400
3,4,"10401 Bennett Road, Fredonia NY 14063","{'AddressNumber': '10401', 'StreetName': 'Benn...",Bennett,,,10401
4,5,"1818 State Route 3, Fulton NY 13069","{'AddressNumber': '1818', 'StreetNamePreType':...",3,,,1818

In [12]:
index_ = []
for index, row in df.iterrows():
    try:
        df.set_value(index, 'index_parsed_address', row['parsed_address'].update({'initial_index': row['initial_index']}))
    except:
        index_.append(index)

/Users/gta/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  after removing the cwd from sys.path.

In [13]:
index_

[]

In [14]:
df.head()

,initial_index,raw_address,parsed_address,parsed_street_name,index_parsed_address,StreetNamePreType,address_number
0,1,"25737 US Rt 11, Evans Mills NY 13637","{'AddressNumber': '25737', 'StreetNamePreType'...",11,None,,25737
1,2,"901 Route 110, Farmingdale NY 11735","{'AddressNumber': '901', 'StreetNamePreType': ...",110,None,,901
2,3,"2400 Route 9, Fishkill NY 12524","{'AddressNumber': '2400', 'StreetNamePreType':...",9,None,,2400
3,4,"10401 Bennett Road, Fredonia NY 14063","{'AddressNumber': '10401', 'StreetName': 'Benn...",Bennett,None,,10401
4,5,"1818 State Route 3, Fulton NY 13069","{'AddressNumber': '1818', 'StreetNamePreType':...",3,None,,1818

In [15]:
df.loc[0]['parsed_address']

OrderedDict([('AddressNumber', '25737'),
             ('StreetNamePreType', 'US Rt'),
             ('StreetName', '11'),
             ('PlaceName', 'Evans Mills'),
             ('StateName', 'NY'),
             ('ZipCode', '13637'),
             ('initial_index', 1)])

In [16]:
df.drop(['index_parsed_address'], axis=1, inplace=True)

In [17]:
df.head()

,initial_index,raw_address,parsed_address,parsed_street_name,StreetNamePreType,address_number
0,1,"25737 US Rt 11, Evans Mills NY 13637","{'AddressNumber': '25737', 'StreetNamePreType'...",11,,25737
1,2,"901 Route 110, Farmingdale NY 11735","{'AddressNumber': '901', 'StreetNamePreType': ...",110,,901
2,3,"2400 Route 9, Fishkill NY 12524","{'AddressNumber': '2400', 'StreetNamePreType':...",9,,2400
3,4,"10401 Bennett Road, Fredonia NY 14063","{'AddressNumber': '10401', 'StreetName': 'Benn...",Bennett,,10401
4,5,"1818 State Route 3, Fulton NY 13069","{'AddressNumber': '1818', 'StreetNamePreType':...",3,,1818

In [18]:
index_ = []
for index, row in df.iterrows():
    try:
        df.set_value(index, 'StreetNamePreType', row['parsed_address']['StreetNamePreType'])
    except:
        print(index)

3
5
8
9
11
12
15
16
17
18
19

/Users/gta/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  after removing the cwd from sys.path.

In [19]:
index_

[]

In [20]:
df.head()

,initial_index,raw_address,parsed_address,parsed_street_name,StreetNamePreType,address_number
0,1,"25737 US Rt 11, Evans Mills NY 13637","{'AddressNumber': '25737', 'StreetNamePreType'...",11,US Rt,25737
1,2,"901 Route 110, Farmingdale NY 11735","{'AddressNumber': '901', 'StreetNamePreType': ...",110,Route,901
2,3,"2400 Route 9, Fishkill NY 12524","{'AddressNumber': '2400', 'StreetNamePreType':...",9,Route,2400
3,4,"10401 Bennett Road, Fredonia NY 14063","{'AddressNumber': '10401', 'StreetName': 'Benn...",Bennett,,10401
4,5,"1818 State Route 3, Fulton NY 13069","{'AddressNumber': '1818', 'StreetNamePreType':...",3,State Route,1818

In [21]:
isinstance(df.loc[0]['parsed_street_name'], str)

True

In [22]:
df['combined_string_1'] = ''
df['combined_string'] = ''
index_ = []
for index, row in df.iterrows():
    try:
        if any(c.isdigit() for c in row['parsed_street_name']):
            df.set_value(index, 'combined_string_1', row['parsed_street_name'])
        else:
            print('else // {}'.format(index))
            df.set_value(index, 'combined_string_1', '')
    except:
        print('except')
        index_.append(index)

else // 3
else // 5
else // 8
else // 9
else // 11
else // 12
else // 15
else // 16
else // 18
else // 19

/Users/gta/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  import sys
/Users/gta/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  # Remove the CWD from sys.path while we load stuff.

In [23]:
index_

[]

In [24]:
df.head()

,initial_index,raw_address,parsed_address,parsed_street_name,StreetNamePreType,address_number,combined_string_1,combined_string
0,1,"25737 US Rt 11, Evans Mills NY 13637","{'AddressNumber': '25737', 'StreetNamePreType'...",11,US Rt,25737,11,
1,2,"901 Route 110, Farmingdale NY 11735","{'AddressNumber': '901', 'StreetNamePreType': ...",110,Route,901,110,
2,3,"2400 Route 9, Fishkill NY 12524","{'AddressNumber': '2400', 'StreetNamePreType':...",9,Route,2400,9,
3,4,"10401 Bennett Road, Fredonia NY 14063","{'AddressNumber': '10401', 'StreetName': 'Benn...",Bennett,,10401,,
4,5,"1818 State Route 3, Fulton NY 13069","{'AddressNumber': '1818', 'StreetNamePreType':...",3,State Route,1818,3,

In [25]:
df['combined_string'] = df['StreetNamePreType'].str.rstrip() + ' ' +df['combined_string_1'].str.rstrip()

In [26]:
df.head()

,initial_index,raw_address,parsed_address,parsed_street_name,StreetNamePreType,address_number,combined_string_1,combined_string
0,1,"25737 US Rt 11, Evans Mills NY 13637","{'AddressNumber': '25737', 'StreetNamePreType'...",11,US Rt,25737,11,US Rt 11
1,2,"901 Route 110, Farmingdale NY 11735","{'AddressNumber': '901', 'StreetNamePreType': ...",110,Route,901,110,Route 110
2,3,"2400 Route 9, Fishkill NY 12524","{'AddressNumber': '2400', 'StreetNamePreType':...",9,Route,2400,9,Route 9
3,4,"10401 Bennett Road, Fredonia NY 14063","{'AddressNumber': '10401', 'StreetName': 'Benn...",Bennett,,10401,,
4,5,"1818 State Route 3, Fulton NY 13069","{'AddressNumber': '1818', 'StreetNamePreType':...",3,State Route,1818,3,State Route 3

In [27]:
df.loc[0]['parsed_address']

OrderedDict([('AddressNumber', '25737'),
             ('StreetNamePreType', 'US Rt'),
             ('StreetName', '11'),
             ('PlaceName', 'Evans Mills'),
             ('StateName', 'NY'),
             ('ZipCode', '13637'),
             ('initial_index', 1)])

In [28]:
index_ = []
for index, row in df.iterrows():
    if row['combined_string'] == ' ':
        df.set_value(index, 'combined_string', row['parsed_street_name'])
    else:
        pass
        index_.append(index)
print(index_)

[0, 1, 2, 4, 6, 7, 10, 13, 14, 17]

/Users/gta/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  after removing the cwd from sys.path.

In [29]:
df.head()
#Combined_string is the street name.

,initial_index,raw_address,parsed_address,parsed_street_name,StreetNamePreType,address_number,combined_string_1,combined_string
0,1,"25737 US Rt 11, Evans Mills NY 13637","{'AddressNumber': '25737', 'StreetNamePreType'...",11,US Rt,25737,11,US Rt 11
1,2,"901 Route 110, Farmingdale NY 11735","{'AddressNumber': '901', 'StreetNamePreType': ...",110,Route,901,110,Route 110
2,3,"2400 Route 9, Fishkill NY 12524","{'AddressNumber': '2400', 'StreetNamePreType':...",9,Route,2400,9,Route 9
3,4,"10401 Bennett Road, Fredonia NY 14063","{'AddressNumber': '10401', 'StreetName': 'Benn...",Bennett,,10401,,Bennett
4,5,"1818 State Route 3, Fulton NY 13069","{'AddressNumber': '1818', 'StreetNamePreType':...",3,State Route,1818,3,State Route 3

In [30]:
df.loc[3]['combined_string']

'Bennett'